.negrito {
    font-weight: bold;
}

.titulo-header {
    font-family: Koulen;
    color: var(--branco);
    font-size: 8vmin;
    margin-left: 10vmin
}

.header > a {
    display: flex;
    align-items: center;
}

#botao-voltar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 2rem 1rem;

    font-family: Nunito;
    font-size: 1.5rem;
    color: var(--verde-escuro);

    &:hover > #setinha{
        transform: rotate(90deg) translateY(0.5rem);
    }
}

#setinha {
    /*
    filtro para mudar cor de svg via CSS.
    fonte: https://codepen.io/sosuke/pen/Pjoqqp
    cor usada: --verde-escuro
    */
    filter: brightness(0) saturate(100%) /* transformar SVG em preto para funcionar o filtro */
    invert(61%) sepia(47%) saturate(470%) hue-rotate(45deg) brightness(86%) contrast(102%);
    transform: rotate(90deg);
    width: 1.25rem;
    margin-right: 1rem;
    transition: transform 0.1s ease-in-out;
}

.conteudo-login {

    width: 100vw;
    height: 75vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > * {
        margin-top: 3vmin;
    }
}

#login-txt {
    margin-bottom: -2vmin;
    font-family: Koulen;
    color: var(--verde);
    font-size: 10vmin;
    cursor: default;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.form {
    width: 50vw;
    padding: 2vmin 1.5vmin;
    border-radius: 2vmin;
}

#botao-login {
    font-family: Koulen;
    font-weight: normal;
    font-size: 5vmin;
    padding: 0 7vmin;

    transition: transform 0.25s ease-in-out;
    &:hover {
        transform: scale(110%);
    }

    &:active {
        transform: scale(95%);
    }
}

div > p:not(#login-txt) {
    font-family: Nunito;
    font-size: 20px;
    color: var(--verde-escuro);
    font-weight: 200;
}

#esqueceu-senha {
    margin-top: 2vmin;
}

#criar-conta {
    margin-top: 3vmin;
}

#lembrar-de-mim {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#lembrar-de-mim label {
    color: var(--verde-escuro);
    font-family: Nunito;
    font-weight: 500;
    font-size: 1.15rem;
}

@media screen and (max-width: 500px) {
    
    #botao-voltar {
        font-size: 1rem;
    }

    #setinha {
        width: 1rem;
        margin-right: 0.5rem;
    }

    .conteudo-login {
        width: 100vw;
    }

    .form {
        width: 65vw;
        font-size: 1.1rem;
        border: 3px solid var(--verde);
    }

    div > p:not(#login-txt) {
        font-size: 1rem;
    }
}