@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
    --fundo: #FAFFF3;
    --branco: #FFFEF0;
    --preto: #28551c;
    --cinza: #d3d2d2;
    --verde: #93C047;
    --verde-escuro: #76A63B;
    --vermelho: #FF3C2E;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    flex-shrink: 0;
    text-decoration: none;
}

/* desativa a barra horizontal */
html, body {
    max-width: 100%;
    overflow-x: clip;
    background-color: var(--branco);
}

/* desativa cores da tag 'a' */
a, a:visited, a:hover, a:active {
    color: inherit;
}

/* barra de pesquisa global */
input {
    padding: 0.5vmin;
    padding-left: 1.5vmin;
    background-color: var(--branco);

    font-family: Nunito;
    font-size: 2.5vmin;
    font-weight: normal;
    color: var(--verde-escuro);

    border-radius: 50rem;
    border: 0.4vmin solid var(--verde);
    outline: none;

    &::placeholder {
        opacity: 0.5;
        font-weight: 0;
        font-style: italic;
        color: var(--verde-escuro);
    }
}

/* botao global */
button {
    font-family: Nunito;
    font-weight: bold;
    font-size: 1.15rem;
    background-color: var(--verde);
    color: var(--branco);
    padding: 1rem 1.5rem;
    border-radius: 50rem;

    &:hover {
        cursor: pointer;
    }
}

/* =-=-=-=-=- HEADER -=-=-=-=-= */
.header {
    width: 100vw;
    height: 13vmin;
    background-color: var(--verde);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.logo, #img-conta, #botao-conta {
    width: 10vmin;
}

/* caixa de pesquisa do header */
#caixa-de-pesquisa {
    display: flex;
    align-items: center;
    justify-content: end;
}

#caixa-de-pesquisa > input {
    width: 50vw;
    height: 3.5vmin;
    border: none;
}

#botao-lupa {
    position: absolute;
}

#img-lupa {
    position: absolute;
    top: -1.7vmin;
    right: 0.6vmin;
    width: 3.5vmin;
}

/* conta */
.conta {
    display: flex;
    align-items: center;
    justify-content: center;
}

#botao-conta {
    height: 10vmin;
}

/* =-=-=-=-=- SUB MENU -=-=-=-=-= */

.sub-menu {
    width: 100vw;
    height: 4vmin;
    background-color: var(--verde-escuro);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: var(--branco);
    font-family: 'Nunito Sans';
    font-size: 1.8vmin;
    text-align: center;
}

.sub-menu > div, .sub-menu > a {
    padding: 0 1vmin;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    transition: background-color 0.15s ease-in, color 0.15s ease-in;
    
    &:hover {
        background-color: var(--branco);
        color: var(--verde);

        & > #setinha {
            /*
            filtro para mudar cor de svg via CSS.
            fonte: https://codepen.io/sosuke/pen/Pjoqqp
            cor usada: --verde
            */
            filter: brightness(0) saturate(100%) /* transformar SVG em preto para funcionar o filtro */
            invert(70%) sepia(72%) saturate(358%) hue-rotate(37deg) brightness(88%) contrast(90%);
        }
    }
}

.dropdown > #setinha {
    height: 0.9vmin;
    margin-left: 0.5vmin;
    padding-top: 0.5vmin;
}

/* =-=-=-=-=- CARRINHO -=-=-=-=-= */

.carrinho {
    position: sticky;
    float: right;
    margin-top: 2vmin;
    top: 2vmin;
    right: 2vmin;
    z-index: 3;
    
    transition: transform 150ms ease;

    &:hover {
        transform: scale(110%);
    }
}

.carrinho #carrinho-link {
    display: flex;
    width: max-content;

    padding: 0.75rem;
    align-items: center;
    border-radius: 15px;
    gap: 1rem;

    margin-left: auto;

    background-color: var(--branco);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.carrinho-texto {
    font-family: Nunito;
    font-size: 1.25rem;
    color: var(--verde);
    text-align: end;
    line-height: 1.25rem;
}

#carrinho-imagem {
    width: 3rem;
    height: auto;
}


.negrito {
    font-weight: bold;
}

/* =-=-=-=-=- CHATBOT -=-=-=-=-= */

.chatbot {
    display: flex;
    width: 9vmin;
    height: 9vmin;
    position: fixed;
    bottom: 2vmin;
    right: 2vmin;

    transition: transform 150ms ease-in-out;

    &:hover {
        transform: scale(110%);
        cursor: pointer;
    }

    & > img {
        width: inherit;
        height: inherit;
        position: absolute;
    }
}

.chatbot-chat {
    position: fixed;
    aspect-ratio: 10 / 15;
    width: 270px;
    right: 12vmin;
    bottom: 10vmin;
    
    overflow: hidden;
    display: none;

    background-color: var(--branco);
    border: 5px solid var(--verde);
    border-radius: 20px;

    z-index: 4;
}

.mensagens {
    overflow-y: auto;
    height: calc(100% - 70px);
}

.mensagens p {
    font-family: Nunito;

    margin: 10px 10px 0px 10px;

    display: inline-block;
    padding-block: 5px;
    padding-inline: 10px;
}

.clear {
    clear: both;
}

.mensagens .suporte {
    background-color: var(--cinza);
    color: var(--preto);
    border-radius: 2px 15px 15px 10px;
    float: left;
}

.mensagens .cliente {
    background-color: var(--verde);
    color: var(--branco);
    border-radius: 10px 2px 10px 10px;
    text-align: end;
    float: right;
}

.enviar-mensagem {
    background-color: var(--branco);
    position: absolute;
    bottom: 0px;
    padding: 10px;

    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.enviar-mensagem #digitar {
    width: 70%;
    font-size: 1rem;
    border: 3px solid var(--verde);
}

.enviar-mensagem #enviar {
    width: 20%;

    &:hover {
        cursor: pointer;
    }
}

/* =-=-=-=-=- CORPO -=-=-=-=-= */

.divisor {
    width: 90%;
    height: 5px;

    margin-block: 50px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    background: repeating-linear-gradient(
        to right,
        var(--verde) 0,
        var(--verde) 15px,
        transparent 15px,
        transparent 30px
    );
}

/* =-=-=-=-=- PROMOÇÕES -=-=-=-=-= */
.promocoes > .banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    user-select: none;
    margin-bottom: 30px;
}

#texto-promo {
    position: absolute;
    top: calc(50% - 10px);
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
}

.promocoes .produtos .produto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
}

.promocoes .produtos .produto .desconto-imagem {
    border: 5px solid var(--verde);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.promocoes  .desconto-imagem .imagem {
    width: 200px;
    aspect-ratio: 5 / 7;
    object-fit: cover;
    display: block;
}

.promocoes  .desconto-imagem .desconto {
    font-family: Nunito;
    font-weight: bold;
    font-size: 25px;
    color: var(--branco);

    padding-inline: 50px;
    padding-top: 30px;

    display: flex;
    justify-content: end;
    align-items: center;

    position: absolute;
    transform: rotate(-45deg) translate(-30px, -85%);
    background-color: var(--verde);

    user-select: none;
    pointer-events: none;
}

.promocoes .produtos .nome {
    font-family: Nunito;
    font-size: 3rem;
    font-weight: bold;
    color: var(--verde);
    margin-left: 20px;
}

.promocoes .produtos .texto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.promocoes .precos {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    line-height: 2.25rem;
}

.promocoes .precos .preco-original {
    font-family: Nunito;
    font-size: 0.95rem;
    font-weight: 200;
    color: var(--cinza);
}

.promocoes .preco-original > span {
    text-decoration: line-through;
}

.promocoes .precos .preco-novo {
    font-family: Nunito;
    font-size: 3rem;
    font-weight: bold;
    color: var(--verde);
}

.destaques #titulo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}

.destaques .produtos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.destaques .produto, .destaques .produto .texto a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-family: Nunito;
    color: var(--verde);
    font-weight: bold;
    font-size: 1.25rem;
}

.destaques .produto .texto a {
    gap: 0px;
}

.destaques .produto .imagem {
    width: 175px;
    aspect-ratio: 5 / 7;
    object-fit: cover;
    display: block;
    border: 5px solid var(--verde);
    border-radius: 10px;
}

.categorias .titulo {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.itens-categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-inline: 10%;
}

.itens-categorias div {
    background-color: var(--verde);
    padding-inline: 30px;
    border-radius: 10px;
    
    font-family: Koulen;
    font-size: 2rem;
    color: var(--branco);

    user-select: none;
    transition: transform 150ms ease;
    &:hover {
        transform: scale(110%);
    }
}

.procurar .titulo {
    margin-top: -30px;
    display: flex;
    justify-content: center;
}

.searchbox-div {
    display: flex;
    justify-content: center;
}

.searchbox {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;

    position: relative;
    flex-grow: 0.5;
}
  
.searchbox input[type="text"] {
    width: calc(100% - 25px);
    height: 35px;
    border: 3px solid var(--verde);
    font-size: 1rem;
    padding-right: 45px;
}
  
.searchbox input[type="image"] {
    position: absolute;
    right: -15px;
    border: none;
    background-color: transparent;
    border-radius: 0px;
}
  
/* =-=-=-=-=- RESPONSIVIDADE -=-=-=-=-= */
@media screen and (max-width: 750px) {
    .header {
        height: 15vmin;
    }

    .sub-menu {
        display: none;
    }

    .promocoes > .banner {
        transform: scale(80%);
    }

    #carrinho-imagem {
        width: 8vmin;
        padding: 1vmin;
    }

    #carrinho-link {
        padding: 0;
    }

    .carrinho-texto {
        display: none;
    }

    .promocoes .produto .nome, .promocoes .precos .preco-novo {
        font-size: 1.5em;
    }

    .promocoes .produto .precos {
        line-height: 1.75rem;
        align-items: center;
    }

    .promocoes .produtos .texto {
        justify-content: center;
    }

    .promocoes .produtos .precos,
    .promocoes .produtos .nome {
        margin-left: 0;
    }

    .promocoes .produtos .produto {
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .chatbot {
        width: 12vmin;
        height: 12vmin;
        bottom: 4vmin;
        right: 4vmin;
    }

    .chatbot-chat {
        bottom: 17vmin;
        right: 14vmin;
    }

    .procurar .titulo {
        transform: scale(70%);
    }
}