@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
    --fundo: #FAFFF3;
    --branco: #FFFEF0;
    --preto: #28551c;
    --cinza: #A6A6A6;
    --verde: #93C047;
    --verde-escuro: #76A63B;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    flex-shrink: 0;
    text-decoration: none;
}

/* desativa a barra horizontal */
html, body {
    max-width: 100%;
    overflow-x: clip;
    background-color: var(--branco);
}

/* desativa cores da tag 'a' */
a, a:visited, a:hover, a:active {
    color: inherit;
}

/* barra de pesquisa global */
input {
    padding: 0.5vmin;
    padding-left: 1.5vmin;
    background-color: var(--branco);

    font-family: Nunito;
    font-size: 2.5vmin;
    font-weight: normal;
    color: var(--verde-escuro);

    border-radius: 50rem;
    border: 0.4vmin solid var(--verde);
    outline: none;

    &::placeholder {
        opacity: 0.5;
        font-weight: 0;
        font-style: italic;
        color: var(--verde-escuro);
    }
}

/* botao global */
button {
    font-family: Nunito;
    font-weight: bold;
    font-size: 1.15rem;
    background-color: var(--verde);
    color: var(--branco);
    padding: 1rem 1.5rem;
    border-radius: 50rem;

    &:hover {
        cursor: pointer;
    }
}

/* =-=-=-=-=- HEADER -=-=-=-=-= */
.header {
    width: 100vw;
    height: 13vmin;
    background-color: var(--verde);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.logo, #img-conta, #botao-conta {
    width: 10vmin;
}

/* caixa de pesquisa do header */
#caixa-de-pesquisa {
    display: flex;
    align-items: center;
    justify-content: end;
}

#caixa-de-pesquisa > input {
    width: 50vw;
    height: 3.5vmin;
    border: none;
}

#botao-lupa {
    position: absolute;
}

#img-lupa {
    position: absolute;
    top: -1.7vmin;
    right: 0.6vmin;
    width: 3.5vmin;
}

/* conta */
.conta {
    display: flex;
    align-items: center;
    justify-content: center;
}

#botao-conta {
    height: 10vmin;
}

/* =-=-=-=-=- SUB MENU -=-=-=-=-= */

.sub-menu {
    width: 100vw;
    height: 4vmin;
    background-color: var(--verde-escuro);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: var(--branco);
    font-family: 'Nunito Sans';
    font-size: 1.8vmin;
    text-align: center;
}

.sub-menu > div, .sub-menu > a {
    padding: 0 1vmin;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    transition: background-color 0.15s ease-in, color 0.15s ease-in;
    
    &:hover {
        background-color: var(--branco);
        color: var(--verde);

        & > #setinha {
            /*
            filtro para mudar cor de svg via CSS.
            fonte: https://codepen.io/sosuke/pen/Pjoqqp
            cor usada: --verde
            */
            filter: brightness(0) saturate(100%) /* transformar SVG em preto para funcionar o filtro */
            invert(70%) sepia(72%) saturate(358%) hue-rotate(37deg) brightness(88%) contrast(90%);
        }
    }
}

.dropdown > #setinha {
    height: 0.9vmin;
    margin-left: 0.5vmin;
    padding-top: 0.5vmin;
}

/* =-=-=-=-=- CARRINHO -=-=-=-=-= */

.carrinho {
    position: sticky;
    float: right;
    margin-top: 2vmin;
    top: 2vmin;
    right: 2vmin;
    z-index: 10;
}

.carrinho #carrinho-link {
    display: flex;
    width: max-content;

    padding: 0.75rem;
    align-items: center;
    border-radius: 15px;
    gap: 1rem;

    margin-left: auto;

    background-color: var(--branco);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.carrinho-texto {
    font-family: Nunito;
    font-size: 1.25rem;
    color: var(--verde);
    text-align: end;
    line-height: 1.25rem;
}

#carrinho-imagem {
    width: 3rem;
    height: auto;
}


.negrito {
    font-weight: bold;
}

/* =-=-=-=-=- CHATBOT -=-=-=-=-= */

.chatbot {
    display: flex;
    width: 9vmin;
    height: 9vmin;
    position: fixed;
    bottom: 2vmin;
    right: 2vmin;

    transition: transform 150ms ease-in-out;

    &:hover {
        transform: scale(110%);
    }

    & > img {
        width: inherit;
        height: inherit;
        position: absolute;
    }
}

/* =-=-=-=-=- CORPO -=-=-=-=-= */

.divisor {
    width: 90%;
    height: 5px;

    margin-block: 50px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    background: repeating-linear-gradient(
        to right,
        var(--verde) 0,
        var(--verde) 15px,
        transparent 15px,
        transparent 30px
    );
}

/* =-=-=-=-=- PROMOÇÕES -=-=-=-=-= */
.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    user-select: none;
    margin-bottom: 30px;
}

#texto-promo {
    position: absolute;
    top: calc(50% - 10px);
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
}

.produtos .produto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
}

.produtos .produto .desconto-imagem {
    border: 5px solid var(--verde);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.desconto-imagem .imagem {
    width: 200px;
    aspect-ratio: 5 / 7;
    object-fit: cover;
    display: block;
}

.desconto-imagem .desconto {
    font-family: Nunito;
    font-weight: bold;
    font-size: 25px;
    color: var(--branco);

    padding-inline: 50px;
    padding-top: 30px;

    display: flex;
    justify-content: end;
    align-items: center;

    position: absolute;
    transform: rotate(-45deg) translate(-30px, -85%);
    background-color: var(--verde);

    user-select: none;
    pointer-events: none;
}

.produtos .nome {
    font-family: Nunito;
    font-size: 3rem;
    font-weight: bold;
    color: var(--verde);
    margin-left: 20px;
}

.produtos .texto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.precos {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    line-height: 2.25rem;
}

.precos .preco-original {
    font-family: Nunito;
    font-size: 0.95rem;
    font-weight: 200;
    color: var(--cinza);
}

.preco-original > span {
    text-decoration: line-through;
}

.precos .preco-novo {
    font-family: Nunito;
    font-size: 3rem;
    font-weight: bold;
    color: var(--verde);
}

.destaques #titulo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* =-=-=-=-=- RESPONSIVIDADE -=-=-=-=-= */
@media screen and (max-width: 500px) {
    .header {
        height: 15vmin;
    }

    .sub-menu {
        display: none;
    }

    #carrinho-imagem {
        width: 8vmin;
        padding: 1vmin;
    }

    #carrinho-link {
        padding: 0;
    }

    .carrinho-texto {
        display: none;
    }

    .produto .nome, .precos .preco-novo {
        font-size: 2rem;
    }

    .produto .precos {
        line-height: 1.5rem;
        align-items: center;
    }

    .chatbot {
        width: 10vmin;
        height: 10vmin;
        bottom: 2.5vmin;
        right: 2.5vmin;
    }
}