@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --branco-geral: #FFFEF0;
    --preto-geral: #1b3f12;
    --verde-geral: #93C047;
    --branco-barra-pesquisa: #F9FFF6;
    --verde-barra-pesquisa: #699435;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    flex-shrink: 0;
    text-decoration: none;
}

/* desativa a barra horizontal */
html, body {
    max-width: 100%;
    overflow-x: clip;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.negrito {
    font-weight: 800;
}

.input {
    background-color: var(--branco-barra-pesquisa);
    color: var(--verde-barra-pesquisa);
    font-family: Nunito;
    font-weight: normal;
    outline: none;
    border-radius: 50rem;
    border: 3px solid var(--verde-geral);
    resize: none;
}

.botao {
    color: var(--branco-geral) !important;
    font-size: 24px;
    font-family: Nunito;

    border: none;
    border-radius: 50rem;
    background-color: var(--verde-geral);
}

.botao:hover {
    cursor: pointer;
}

/* FLORES FUNDO */

/*
tentei mais que tudo adicionar as flores, mas não consigo deixar sem
o scroll e colorido. as variáveis ainda estão aqui embaixo caso queira
tentar

.background > img {
    position: absolute;
}

.background > img:nth-child(1) {
    margin-left: -412px;
    margin-top: -100px;
    width: 790px;
    height: 790px;
    transform: rotate(-5deg);
}


.background > img:nth-child(2) {
    right: -445px;
    top: 300px;
    width: 790px;
    height: 790px;
    transform: rotate(5deg) scaleX(-1);
}
*/

/* CABEÇALHO */
.header {
    width: 100vw;
    height: 134px;
    background: var(--verde-geral);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.tituloHeader {

    flex-direction: row;
    justify-content: center;

    color: var(--branco-geral);
    text-align: center;
    font-family: Koulen;
    font-size: 84px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 4.2px;
}

.logo > img {
    position: absolute;
    top: 0.85rem;
    left: 2.5vw;
    width: 100px;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.imgConta {
    position: absolute;
    right: 2.5vw;
    top: 1.6rem;
    width: 81px;
    height: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.loginText {
    background: var(--preto-geral);
    color: var(--branco-geral);

    font-family: Nunito;
    font-size: 15px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;

    position: absolute;
    right: calc(150px);
    top: 50px;

    border-radius: 5px;

    opacity: 1;
    transform: translateY(5px);
    transition: transform 0.15s ease-in, opacity 0.15s;
}

.botaoConta:hover .loginText {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.15s ease-out 0.5s, opacity 0.25s 0.5s;
    
}

/* CORPO */

.main {
    width: auto;
    height: auto;
    background: var(--branco-geral);
}

/* CARRINHO */

.carrinho {
    position: relative;
    display: flex;
    flex-direction: flex-end;
    justify-content: center;
}

#textoCarrinho {
    color: var(--verde-geral);
    text-align: right;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    
    right: 125px;
    top: 4px;
}

#imagemCarrinho {
    width: 55px;
    height: auto;
    right: 50px;
}

#textoCarrinho, #imagemCarrinho {
    position: absolute;
}

/* BARRA DE PESQUISA */

.barraDePesquisa {
    position: relative;
}

.barraDePesquisa input[type=text] {
    position: absolute;
    right: 29vw;
    width: calc(40vw - 50px);

    padding: 10px;
    padding-left: 15px;
    padding-right: 50px;
    background-position: 10px 500px;
}

#lupa {
    position: absolute;
    right: 30vw;
    top: 9px;
}

.barraDePesquisa > ::placeholder {
    opacity: 0.5;
    font-style: italic;
}

.pesquisaECarrinho {
    position: relative;
    top: 30px;
}

/* CHATBOT */

.chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#chatBubble {
    transition: transform 0.25s ease;
}

#chatBubble:hover {
    cursor: pointer;
    transform: scale(110%);
}

/* PROMOÇÕES */

.promocoes {
    width: 100vw;
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

#promoBanner, #promoFundo, #promoTexto {
    position: absolute;
}

#promoBanner {
    width: 428px;
    height: 144px;
}

#promoTexto {
    transform: translate(81px, -35px);
}

/* RESPONSIVIDADE */

@media screen and (max-width: 550px) {
    
    .tituloHeader {
        display: none;
    }

    .logo > img, .imgConta {
        position: static;
    }

    #imagemCarrinho {
        right: 6vw;
    }

    #lupa {
        right: 31vw;
    }

    .loginText {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    
    .tituloHeader {
        font-size: 9vw;
    }
    
    #textoCarrinho {
        display: none;
    }

    #imagemCarrinho {
        right: 10vw;
    }

    loginText {
        
    }
}