@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/*
CORES:

BRANCO: #FFFEF0
VERDE:  #93C047
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    flex-shrink: 0;
    text-decoration: none;
}

/* desativa a barra horizontal */
html, body {
    max-width: 100%;
    overflow-x: clip;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

/*
tentei mais que tudo adicionar as flores, mas não consigo deixar sem
o scroll e colorido. as variáveis ainda estão aqui embaixo caso queira
tentar

.background > img {
    position: absolute;
}

.background > img:nth-child(1) {
    margin-left: -412px;
    margin-top: -100px;
    width: 790px;
    height: 790px;
    transform: rotate(-5deg);
}


.background > img:nth-child(2) {
    right: -445px;
    top: 300px;
    width: 790px;
    height: 790px;
    transform: rotate(5deg) scaleX(-1);
}
*/

.header {
    width: 100vw;
    height: 134px;
    background: #93C047;

    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.tituloHeader {
    margin: 0 auto;


    width: 507px;
    height: 86px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;

    color: #FFFEF0;
    text-align: center;
    font-family: Koulen;
    font-size: 84px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 4.2px;
}

.logo > img {
    margin-left: 2vw;
    width: 100px;
    height: auto;
}

.imgConta {
    margin-right: 2vw;
    width: 81px;
    height: 81px;
}

.main {
    width: 100vw;
    height: 100vh;
    background: #FFFEF0;
}

#textoCarrinho {
    margin-right: 15px;
    margin-top: 10px;
    color: #93C047;
    text-align: right;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    position: relative;
}
.negrito {
    font-weight: 800;
}

.carrinho {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    margin-top: 30px;
    margin-right: 50px;
}